
/*Peticion y muestra de datos*/


.contenedor-principal{
    overflow: hidden; 
}

.contenedor-datos{
    float: left;
    width: 30%;
    padding: 0px 30px; 
    padding-top: 0%;
    text-align: center;
}

fieldset{
    border-radius: 10%;
}

.grafica{
    padding-right: 10%;
    float: right;
<<<<<<< HEAD
    width: 65%;
    padding-right: 20px;
    margin-right: 20px;
=======
    width: 60%;
>>>>>>> bbcb9621835bf0366a774be6a31969f11761b164
}

/*Texto principal*/

.m-b-md {
    margin-bottom: 0px;
}

.ayuda-legend{
    font-weight: bold;
    text-align: left;
}

/*Comentarios*/
.text-com{
    margin: 20px 0px 0px 0px !important;
    
}

.comentario{

    text-align: center;
    overflow: hidden; 
}

