/*Datos basicos*/

.datos{
    padding: 0px 35%;
}
#container{
    padding: 0px 20%;
    padding-bottom: 5%;
}
.datos-basicos{
    text-align: center;
}

/*Contenedores secundarios*/

fieldset{
    border-radius: 10%;
}  


/*Textos*/

.ayuda{
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

.titulo-legend{
    font-weight: bold;
    text-align: left;
}